.theme-btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  background-color: var(--brand_color);
  padding: 0 35px;
  overflow: hidden;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--font-roboto), "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.theme-btn::before {
  background-color: #171d24;
  position: absolute;
  left: -1px;
  top: -1px;
  z-index: -1;
  height: 103%;
  width: 102%;
  border-radius: 4px;
  content: "";
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
}

.theme-btn:hover {
  color: #ffffff;
}

.theme-btn:hover::before {
  transform: scale(1, 1);
  transform-origin: top left;
}

.theme-btn.theme-btn-alt {
  background-color: #fff;
  color: var(--brand_color);
}

.theme-btn.theme-btn-alt:hover {
  color: #fff;
}

.theme-btn.theme-btn-rounded-2 {
  border-radius: 50px;
}

.theme-btn.w-100 {
  width: 100%;
}

.theme-btn.theme-btn-lg {
  height: 60px;
  line-height: 59px;
  padding: 0 40px;
}

.theme-btn.theme-btn-primary_alt {
  color: var(--brand_color);
  background-color: rgba(0, 80, 178, 0.05);
  transition: all 0.3s ease-out;
  overflow: inherit;
}

.theme-btn.theme-btn-primary_alt::before {
  display: none;
}

.theme-btn.theme-btn-primary_alt:hover {
  background-color: #0050b2;
  color: #fff;
}

.theme-btn.theme-btn-outlined {
  background-color: transparent;
  color: var(--brand_color);
  border: 1px solid var(--brand_color);
}

.theme-btn.theme-btn-outlined::before {
  display: none;
}

.theme-btn.theme-btn-outlined:hover {
  background-color: var(--brand_color);
  color: #fff;
}
